.vertical-menu {
    width: 200px; /* Set a width if you like */
    margin-right: 10px;
}

.vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
    background-color: white; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
    background-color: red; /* Add a green color to the "active/current" link */
    color: white;
}

/*body{*/
/*    background-image: url('Flag_of_Canada.svg');*/
/*    background-repeat: no-repeat;*/
/*    background-position: center;*/
/*    background-size: cover;*/
/*}*/
body{
    background-color: lightblue;
}

h1{
    text-align: Center;
    color: beige;
    -webkit-text-stroke: 1px black;
    font-weight: 900;
}
h2{
    text-align: center;
    color: white;
    -webkit-text-stroke: 1px black;
}
button{
    background-color: red;
}
#floatRight{
    float: right;
}

#floatLeft{
    float: left;
}
hr {
    border: none;
    border-top: 3px double #333;
    color: #ffffff;
    overflow: visible;
    text-align: center;
    height: 5px;
}
